<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">10</div>
      <div class="bottom">Box1</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faShop"></fa-icon>
    </div>
    <div class="value">
      <div class="top">25</div>
      <div class="bottom">Box2</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faBoxes"></fa-icon>
    </div>
    <div class="value">
      <div class="top">33</div>
      <div class="bottom">Box3</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="value">
      <div class="top">55</div>
      <div class="bottom">Box4</div>
    </div>
  </div>
</div>
