.main-container {
  display: flex;
}
.main-container .side-nav {
  width: 350px;
  min-width: 230px;
  min-height: calc(100vh - 70px);
  background-color: #113c60;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;
}
.main-container .Cside-nav {
  width: 350px;
  min-width: 230px;
  min-height: calc(100vh - 70px);
  background-color: #fff;
  color: #113c60;
  box-shadow: 5px 5px 5px #939393;
}
.dashboard {
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
}
@media only screen and (max-width: 1300px) {
  .main-container .side-nav {
    width: 100px;
    min-width: 100px;
  }
}
.main-container .main {
  padding: 30px;
  width: 100%;
}

@media only screen and (max-width: 1600px) {
  .top-section {
    width: 1280px;
  }
}
@media only screen and (max-width: 1500px) {
  .top-section {
    width: 1180px;
  }
}
@media only screen and (max-width: 1400px) {
  .top-section {
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .top-section {
    width: 980px;
  }
}
